* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    color: #ff4d6d;
    margin-bottom: 30px;
}

.buttons {
    position: relative;
    height: 80px;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

#yesBtn {
    background-color: #ff4d6d;
    color: white;
    margin-right: 20px;
}

#yesBtn:hover {
    background-color: #e63950;
}

#noBtn {
    background-color: #adb5bd;
    color: white;
    position: absolute;
}

#message {
    margin-top: 30px;
    font-size: 22px;
    color: #ff4d6d;
    font-weight: bold;

}

.hidden {
    display: none;
}

select {
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    margin: 20px 0;
    width: 100%;
}

#continueBtn, .travelBtn {
    background-color: #ff4d6d;
    color: white;
    border-radius: 30px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
}

.travel-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.travelBtn:hover, #continueBtn:hover {
    background-color: #e63950;
}

#placeMessage, #travelMessage {
    margin-top: 15px;
    color: #ff4d6d;
    font-weight: bold;
}

#finalSection h1 {
    color: #ff4d6d;
    font-size: 28px;
}
